<div class="main-layout">
  <aside class="sidebar navbar navbar-expand-lg navbar-light bg-white" *ngIf="isExpanded" @slidein>
    <ul class="list-group list-group-light">
      <li class="list-group-item">
        Server
        <span *ngIf="isServerUp" class="success">UP</span>
        <span *ngIf="!isServerUp" class="warning">UNKNOWN</span>
      </li>
      <li class="list-group-item">
        SQS
        <span *ngIf="isServerUp && isSQSUp" class="success">UP</span>
        <span *ngIf="isServerUp && !isSQSUp" class="danger">DOWN</span>
        <span *ngIf="!isServerUp" class="warning">UNKNOWN</span>
      </li>
      <li class="list-group-item">
        Last update: {{lastUpdateTime | date: 'mediumTime'}}
      </li>
    </ul>
  </aside>
</div>
