.sqs {
  margin: 20px;
}

.mat-expansion-panel-header {
  font-size: 20px;
}

form {
  &.create-queue-form > mat-form-field {
    width: 100%;
  }
  &.d-flex {
    align-items: flex-start;
    > button {
      height: 55px;
    }
  }
}
